<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File name="FileLogger" fileName="log/exchange-simulator.log" immediateFlush="true">
      <PatternLayout
        pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c - %msg%n"/>
    </File>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{HH:mm:ss.SSS} %-5level %c - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="FileLogger"/>
      <AppenderRef ref="Console"/>
    </Root>

    <!-- OrderBook debug -->
    <Logger name="com.btcs.fix" level="DEBUG" additivity="false">
      <AppenderRef ref="FileLogger"/>
      <AppenderRef ref="Console"/>
    </Logger>
  </Loggers>
</Configuration>